
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #003366;
}

.table th {
    background-color: #003366; 
    color: white; 
}


.text-center {
    text-align: center;
}